.d-flex{
    display: flex;
}

nav{
    width: 1774px;
    margin:auto;
    padding: 26px 0;
    justify-content: space-between;
}

.navi{
    gap:0 48px;
}
.navi a{
    text-decoration: none;
    color: #000;
}

.icon ul{
    gap:0 11px;
}

.icon ul{

}

.m-navi{
    display: none;
}
img{
    width: 100%;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.d-flex{
    display: flex;
}

.gap{
    gap: 0 10px;
}

.w-1316{
    width: 1316px;
    margin: auto;
}

.column-4{
    width: 30%;
}

.content-textTitle{
    text-align: center;
}
.content-textTitle>h2{
    margin-top: 191px;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
}

.content-textTitle>p{
    font-size: 16px;
    color: #767676;
    margin-top: 30px;
    margin-bottom: 84px;
}

.text-section>h3{
    font-size: 32px;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 25px;
}

.text-section>p{
    font-size: 16px;
    color: #767676;
    line-height: 140%;
    letter-spacing: -0.25px;
}

.content-tex
@media(max-width:1773px){
    nav{
        width: 100%;
        padding: 26px 24px;
    }
    .w-1316{
        width: 100%;
        margin: 0;
    }
}

@media(max-width:1280px){
    .icon{
        display: none;
    }
    .navi{
        gap:0 11px;
    }
    nav{
        justify-content: space-between;
        padding: 24px 0;
        width: 90%;
    }
}

@media(max-width:768px){
    .f-d-column{
        flex-direction: column;
        padding: 0 10px;
    }
    .gap{
        gap: 10px 0 ;
    }
    .column-4{
        width: 100%;
    }
}

@media(max-width:560px){
    .icon{
        display:block;
    }
    .navi{
        display: none;
    }
    .none{
        display: none;
    }
    .m-navi{
        display: block;
    }
}
@media(min-width:600px){
 
}
@media only screen and(max-width:600px){

}

@media (min-width:768px) and (max-width:1024px){

}

@media(max-width:540px){
    
}
@media(max-width:480px){

}
@media(max-width:368px){

}
@media(max-width:320px){

}